/* MadCap Table Style: */

/*<meta conditions="Products.AllProducts" Version="7" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: BasicPrint;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #696969;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #000000;
	separator-width: 1px;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-BasicPrint
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-BasicPrint .Column-Column1
{
	
}

.TableStyle-BasicPrint .Head-Header1
{
	
}

.TableStyle-BasicPrint .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadI-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-BasicPrint .HeadE-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-BasicPrint .HeadF-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadH-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-BasicPrint .HeadD-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadC-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadB-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadA-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #696969;
}

.TableStyle-BasicPrint .HeadG-Column1-Header1 p
{
	
}

.TableStyle-BasicPrint .Foot-Footer1
{
	
}

.TableStyle-BasicPrint .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .FootI-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-BasicPrint .FootE-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-BasicPrint .FootF-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-BasicPrint .FootH-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-BasicPrint .FootD-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .FootC-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-BasicPrint .FootB-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .FootA-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .FootG-Column1-Footer1 p
{
	
}

.TableStyle-BasicPrint .Body-Body1
{
	
}

.TableStyle-BasicPrint .BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .BodyI-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-BasicPrint .BodyE-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-BasicPrint .BodyF-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-BasicPrint .BodyH-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-BasicPrint .BodyD-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .BodyC-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-BasicPrint .BodyB-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .BodyA-Column1-Body1 p
{
	
}

.TableStyle-BasicPrint .BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicPrint .BodyG-Column1-Body1 p
{
	
}


