body {
  background-color: white;
  background-image: none;
}

#sidebar {
  background-color: rgba(238, 238, 238, 1);
  bottom: 0;
  -moz-box-shadow: inset 0 0 5px #aaa;
-ms-box-shadow: inset 0 0 5px #aaa;
-o-box-shadow: inset 0 0 5px #aaa;
-webkit-box-shadow: inset 0 0 5px #aaa;
box-shadow: inset 0 0 5px #aaa;
  font-size: 14px;
/* TODO disabled from original
  left: 0;
  position: fixed;
  width: 200px;
*/
}

/* this is to allow scrolling with margins instead of overflow */
#sidebar .items {
  position: relative;
  -moz-transition: margin 0.5s ease-in-out;
-ms-transition: margin 0.5s ease-in-out;
-o-transition: margin 0.5s ease-in-out;
-webkit-transition: margin 0.5s ease-in-out;
transition: margin 0.5s ease-in-out;
}

#sidebar .items.instant {
  -moz-transition: none;
-ms-transition: none;
-o-transition: none;
-webkit-transition: none;
transition: none;
}

#content {
  margin-top: -5px; /* peek under header */
  margin-left: 200px;
  padding: 20px;
}

/* TODO disabled from original
.article {
  margin: 0;
}
*/

/* Hide the date ribbon, and so also fix the left offset of center alignments. */
.article .article-header .date {
  display: none;
}
.article .article-footer,
.article .comments-header {
  margin-left: 0px;
}

.adsense {
  margin: 5px 0;
}

#sidebar .item {
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  height: 44px;
  position: relative;
  -moz-transition-duration: 0.2s, 0.5s;
-ms-transition-duration: 0.2s, 0.5s;
-o-transition-duration: 0.2s, 0.5s;
-webkit-transition-duration: 0.2s, 0.5s;
transition-duration: 0.2s, 0.5s;
  -moz-transition-property: box-shadow, height, opacity;
-ms-transition-property: box-shadow, height, opacity;
-o-transition-property: box-shadow, height, opacity;
-webkit-transition-property: box-shadow, height, opacity;
transition-property: box-shadow, height, opacity;
  -moz-transition-timing-function: linear;
-ms-transition-timing-function: linear;
-o-transition-timing-function: linear;
-webkit-transition-timing-function: linear;
transition-timing-function: linear;
  width: 100%;
}

#sidebar .item .thumbnail {
  -moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
  left: 10px;
  position: absolute;
  top: 7px;
}

#sidebar .item .title {
  bottom: 0;
  color: #666;
  font-size: 12px;
  left: 49px;
  line-height: 40px;
  overflow: hidden;
  position: absolute;
  right: 8px;
  text-overflow: ellipsis;
  top: 2px;
  -moz-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
  white-space: nowrap;
}

#sidebar .item  .title .reblog-badge {
  position: relative;
  top: 4px;
}

#sidebar .item.has-comments .title {
  right: 44px;
}

#sidebar .item .comments-count {
  position: absolute;
  right: 8px;
  top: 10px;
}

#sidebar .item.selected {
  background-color: white;
  -moz-box-shadow: -5px 0 5px #aaa;
-ms-box-shadow: -5px 0 5px #aaa;
-o-box-shadow: -5px 0 5px #aaa;
-webkit-box-shadow: -5px 0 5px #aaa;
box-shadow: -5px 0 5px #aaa;
  z-index: 100; /* show up over the drop shadow of #main */
}

#sidebar .item a {
  text-decoration: none;
}

/* ie8 cannot cope with :not() so do this then undo */
#sidebar .item.filtered {
  border-bottom: none;
  height: 0px;
  opacity: 0;
  overflow: hidden;
}

#sidebar .item.filtered.selected {
  border-bottom: 1px solid #e4e4e4;
  height: 44px;
  opacity: 1;
}

#sidebar .item .title a {
  color: rgba(51, 51, 51, 0.75); /* Should be color:Post Title?*/
}

#sidebar .item.filtered.selected .title a {
  color: #c33;
}

#sidebar .item.selected .title a,
#sidebar .item:hover:not(.selected) .title a {
  color: rgba(51, 51, 51, 1);
}

#sidebar .item:hover:not(.selected) .title a {
  text-decoration: underline;
}

#sidebar .item.selected .bubble,
#sidebar .item:hover .bubble {
  background-color: rgba(204, 204, 204, 1);
  border-color: rgba(204, 204, 204, 1);
}

#sidebar .item.selected .bubble-tail,
#sidebar .item:hover .bubble-tail {
  border-color: rgba(204, 204, 204, 1) transparent transparent transparent;
}
