body, label, input, textarea, select, button {
    font-family: "Helvetica Neue",Arial,sans-serif;
}
ul {
    list-style: none outside none;
}
ul, ol {
    margin: 0;
    padding: 0;
}
a {
    outline: 0 none;
    text-decoration: none;
}

html, body, #doc, #page-outer {
    height: 100%;
}
.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}
#global-nav, #page-outer {
	text-align: left;
    margin: 0 auto;
    position: relative;
}
#page-outer{
    width: 837px;
}
#global-nav {
    position: relative;
    height: 44px;
}
#global-nav {
    width: 865px;
}
.nav, .nav > li {
    float: left;
}
.nav li {
    position: relative;
}
.nav li a {
    font-size: 12px;
    position: relative;
    display: block;
    font-weight: bold;
    line-height: 1;
    padding: 0px 12px 0px;
}
.nav .active > a, .nav > li > a:hover {
    text-decoration: none;
}
.nav li img {
  vertical-align: middle;
}
.cmd, .cmd > * {
    float: right;
    padding: 0 10px;
	height: 44px;
}
.dropdown-menu {
    background-clip: padding-box;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    margin: 2px 0 0;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
}
#global-nav-search .search-input {
    border: 0 none;
    border-radius: 13px 13px 13px 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    font-size: 12px;
    height: 14px;
    line-height: 1;
    padding: 6px 27px 6px 12px;
    margin: 8px 0;
    width: 163px;
}
#page-outer {
	margin-top: 56px;
}
.dashboard {
    float: left;
    width: 302px;
}

#main_content {
    float: right;
    width: 522px;
    background-color: inherit;
}
body.permalink #main_content {
	float: none;
	width: 540px;
	margin: auto;
}
body.permalink .content-top {
	display: none;
}
body.permalink .dashboard {
	display: none;
}
.component {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    border-radius: 6px 6px 6px 6px;
    line-height: 16px;
    margin-bottom: 10px;
    position: relative;
}
#site-footer {
    font-size: 12px;
}
#site-footer ul {
	margin: 12px;
}
#site-footer li {
	display: inline;
	margin: 0.5ex;
}
#site-footer a:hover {
	text-decoration: underline;
}

/* over-ride profile styling */
.content-top .profile {
	padding: 12px;
}
.content-top .profile .profile-details {
	width: 540px;
	float: left;
}
.content-top .profile .profile-stats, .content-top .profile .profile-actions {
	width: 128px;
	margin-right: 0px;
	margin-left: auto;
}
.content-top .profile .profile-actions {
	display: none; /* FIXME enable some of this */
}
.content-top .profile .profile-stats .stat {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	border-right: none;
	border-top: none;
}
.content-top .profile .profile-stats .stat-last {
	border-bottom: none;
}
.content-top .profile .statnum, .content-top .profile .statlabel {
	display: inline;
}

#mini_profile .profile-details td {
	vertical-align: top;
}
#mini_profile .avatar img {
	width: 32px;
	height: 32px;
}
#mini_profile .location {
	display: none;
}
#mini_profile .fullname {
	display: block;
}
#mini_profile .username {
	display: block;
}
#mini_profile .profile-details .details {
	display: none;
}
#mini_profile .profile-actions {
	display: none;
}
#mini_profile .profile-stats .stat {
	vertical-align: bottom;
}
/* nav */
img.focus, li.active img.normal { display: none; }
li.active img.focus { display: inline; }

#trends_panel li, #trends_panel h2 {
	border: none;
}
#trends_panel a:link {
	padding: 0.25em 0.75em;
	font-size: 9pt;
}
#trends_panel a:active {
	text-decoration: underline;
}
/* tweet sheet */
#tweetsheet, #tweetsheet .backdrop {
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.backdrop {
	opacity: 0.5;
	background-color: #000000;
}
.tweetbox-container {
	z-index: 9;
	width: 520px;
	margin: 150px auto 0;
	text-align: left;
	padding: 0.5em;
}
.tweetbox {
	font-size: 13px;
}
#tweetsheet .tweet-btn-container, .tweet-close {
	width: auto;
	text-align: right;
}
.tweet-close a:link, .tweet-close a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #888888;
}
/* Colors */
body.decorated {
	background-image: url(https://si0.twimg.com/images/themes/theme1/bg.png);
	background-position: left 40px;
	background-attachment: fixed;
	background-repeat: repeat;
	background-repeat: no-repeat;
	background-color: #C0DEED;
	color: #333333;
}
a {
    color: #0084B4;
}
.topbar {
    background-color: #333333;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25)
}
.nav li a {
    color: #BBBBBB;
}
.nav .active a {
    background-color: #000000;
    color: #FFFFFF;
}
.nav .active > a, .nav > li > a:hover {
    color: #FFFFFF;
}
.dropdown-menu {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
}
#global-nav-search .search-input {
    color: #444444;
    background-color: #CCCCCC;
}
#global-nav-search .search-input:focus {
    background-color: #FFFFFF;
    color: #000000;
	outline: none;
}
.component {
    background-color: #F9F9F9;	
}
.content-main, .content-top .profile {
    background-color: #FFFFFF;
    color: #333333;	
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px 6px 6px 6px;
}
#site-footer, #site-footer a {
    color: #999999;
}
#site-footer:hover a {
	color: #333333;
}
